.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;

    background-color: white;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: $fill-transition;

    &:hover {
        fill: $accent-color;
    }

    @media screen and (max-width: 1200px) {
        border: none;
    }

    &__icon {
        position: absolute;
        width: 11px;
        height: 11px;
        top: 33%;
        left: 33%;

        @media screen and (max-width: 1200px) {
            width: 18px;
            height: 18px;
        }
    }
}