.order-btn {
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    display: block;
    margin: 0 auto;

    transition: $color-transition, $bg-color-transition;

    &:hover {
        background-color: $button-hover;
    }

    &__text {
        color: white;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        @include flex-center;

        padding: 10px 32px;
    }
}