.hidden-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.char-section {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding-top: 90px;
        padding-bottom: 0;
    }
}

.char-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
        flex-basis: 450px;

        @media screen and (min-width: 768px) {
            flex-basis: 354px;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: 270px;
        }
    }

    &__title {
        color: $title-color;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        margin-bottom: 10px;
    }

    &__text {
        color: $text-color;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;

        width: 100%;
    }
}

.char-field {
    background-color: $bg-color-whitish;
    @include flex-center;
    max-width: 450px;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;

    &__icon {
        width: 70px;
        height: 70px;
    }
}