.clients-icon-list {
    @include flex-center;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
        flex-basis: 207px;

        @media screen and (min-width: 768px) {
            flex-basis: 226px;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: 170px;
        }
    }

    &__link {
        fill: $icon-color;
        background-color: white;
        border: 1px solid $icon-color;
        border-radius: 4px;
        height: 92px;
        display: flex;
        justify-content: center;

        transition: $fill-transition, $bg-color-transition;

        &:hover, &:focus {
            fill: $accent-color;
            border-color: $accent-color;
        }
    }
}