.hero-section {
    background-color: $bg-color-grayish;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hs-bg--mobile.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1600px;
    height: 400px;
    @include flex-center;

    &__title {
            color: white;
        
            font-weight: 900;
            font-size: 26px;
            line-height: 1.6;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
    
            margin-bottom: 30px;
        }
}