.ot-section {
    background-color: $bg-color-whitish;
    padding: 60px 0;
}

.ot-list {
    @include flex-center;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
        background-color: white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        flex-basis: 450px;
        height: 100%;
        max-height: 622px;

        @media screen and (min-width: 768px) {
            flex-basis: 354px;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: 270px;
        }
    }
}

.ot-list-text {
    padding: 30px 0 24px 0;

    &__name {
        color: $title-color;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;

        margin-bottom: 10px;
    }

    &__post {
        color: $text-color;

        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.ot-icon-list {
    @include flex-center;
    gap: 10px;
    margin-top: 16px;

    &__link {
        fill: $icon-color;
        width: 44px;
        height: 44px;
        border-radius: 50%;

        transition: $color-transition, $bg-color-transition;

        &:hover, &:focus {
            background-color: $accent-color;
            fill: white;
        }
    }

    &__icon {
        transition: $fill-transition;
    }
}