.section-title {
    color: $title-color;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    display: flex;
    max-width: 400px;
    margin-bottom: 30px;
}