.footer-icon-list {
    @include flex-center;
    gap: 10px;

    @media screen and (min-width: 1200px) {
        justify-content: left;
    }

    &__link {
        fill: white;
        background-color: rgba(255, 255, 255, 0.1);
        width: 44px;
        height: 44px;
        border-radius: 50%;

        transition: $fill-transition, $bg-color-transition;

        &:hover,
        &:focus {
            fill: white;
            background-color: $accent-color;
        }
    }
}