.footer-inner {
    @include flex-center;
    text-align: center;
    flex-wrap: wrap;
    
    @media screen and (min-width: 1200px) {
        align-items: baseline;
        justify-content: start;
        text-align: left;
        align-items: start;
    }
}