.header-address {
    display: none;
    // @include flex-center;
    gap: 30px;


    &__link {
            color: $text-color;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.15;
            letter-spacing: 0.02em;
    
            transition: $color-transition, $bg-color-transition;
    
            &:hover,
            &:focus {
                color: $accent-color;
            }
        }
    
        &__icon {
            fill: $text-color;
        }
    
        &__link:hover &__icon,
        &__link:focus &__icon {
            fill: currentColor;
        }
}