.header-inner {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 15px;

    @media screen and (min-width: 1200px) {
        padding: 20px 15px;
    }

    &__address-link {
        color: $text-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        margin: auto 25px auto 0;

        transition: $color-transition, $bg-color-transition;

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

    &__address-icon {
        fill: $text-color;
    }

    &__address-link:hover &__address-icon,
    &__address-link:focus &__address-icon {
        fill: currentColor;
    }
}