.menu-nav {
    display: flex;

    &__link {
        color: $title-color;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        margin: 0 25px;

        position: relative;
        transition: $color-transition, $bg-color-transition;

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

    &__link-current {
        color: $accent-color;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        margin: 0 25px;

        position: relative;
        transition: $color-transition, $bg-color-transition;

        &:after {
            content: '';
            position: absolute;

            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: currentColor;
            bottom: -35px;
        }
    }
}